<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">
    <title>iDevice Viewer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <main>
        <h1>Connected iDevices</h1>

        <div id="devices">
            {% if devices %}
            {% for device in devices %}
                {% if device.disabled %}
                <section class="device device-disabled">
                    <div class="warning-banner">{{ device.warning }}</div>
                    <div class="device-content">
                        <b>Name:</b> {{ device.name }}<br>
                        <b>Product:</b> {{ device.product }}<br>
                        Running OS {{ device.version }}<br>
                    </div>
                </section>
                {% else %}
                <a class="device" href="{{ url_for('device_detail', udid=device.udid) }}">
                    <b>Name:</b> {{ device.name }}<br>
                    <b>Product:</b> {{ device.product }}<br>
                    Running OS {{ device.version }}<br>
                </a>
                {% endif %}
            {% endfor %}
            {% else %}
            <p>No devices connected.</p>
            {% endif %}
        </div>
    </main>
</body>
</html>
